{{#if noSubmissions}}
<div class="ui yellow big message">
  <div data-test-message-empty>
  {{status.recent.problem}}
  </div>
</div>
{{else}}
<div class="ui two column padded grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="ui secondary inverted violet center aligned segment">
        <h4 class="ui header" data-test-message-header>Most recent problem</h4>
        <div>
        <strong data-test-recent-problem>{{status.recent.problem}}</strong> submitted {{moment-from-now status.recent.submitted_at allowEmpty=true}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="nine wide column">
      <h4 class="ui header">Submitted problems</h4>
        {{#if (not status.submitted)}}
          <p data-test-submitted-empty-msg>
          None. Latest submission was probably deleted
          </p>
        {{else}}
          <div class="ui three stackable cards" data-test-submitted>
          {{#each status.submitted as |exercise|}}
            {{#link-to "tracks.track.status.submission"
              status.trackId exercise
              class="ui card"}}
              <div class="content">
                {{exercise}}
              </div>
            {{/link-to}}
          {{/each}}
          </div>
        {{/if}}
    </div>
    <div class="seven wide column">
      {{#pinned-content top=70}}
        {{yield}}
      {{/pinned-content}}
    </div>
  </div>
  <div class="row">
    <div class="eigth wide left floated column">
      <h4 class="ui header">Skipped problems</h4>
      <div class="ui horizontal divided list" data-test-skipped>
        {{#each status.skipped as |exercise|}}
          <div class="item">
            {{exercise}}
          </div>
        {{else}}
          <div class="item" data-test-skipped-empty-msg>
          None
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}
