{{#if noSubmissions}}
<div class="ui yellow message">
  <div class="header" data-test-message-empty>
  {{status.recent.problem}}
  </div>
</div>
{{else}}
<div class="ui two column centered padded grid">
  <div class="row">
    <div class="sixteen wide column">
      <div class="ui success icon message">
        <i class="file outline icon"></i>
        <div class="content">
          <div class="header" data-test-message-header>
            Most recent problem
          </div>
          <p>
          <strong data-test-recent-problem>{{status.recent.problem}}</strong> submitted {{moment-from-now status.recent.submitted_at allowEmpty=true}}
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="eigth wide column">
      <h4 class="ui header">Submitted problems</h4>
      <div class="ui horizontal divided list" data-test-submitted>
        {{#each status.submitted as |exercise|}}
          <div class="item">
            {{link-to exercise "tracks.track.status.submission" status.track_id exercise}}
          </div>
        {{/each}}
      </div>
    </div>
    <div class="eigth wide column">
      {{yield}}
    </div>
  </div>
  <div class="row">
    <div class="eigth wide left floated column">
      <h4 class="ui header">Skipped problems</h4>
      <div class="ui horizontal divided list" data-test-skipped>
        {{#each status.skipped as |exercise|}}
          <div class="item">
            {{exercise}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>
{{/if}}
