{{context-menu}}
<div class="ui inverted top fixed menu">
  <div class="container">
    {{#link-to "index" class="item"}}
      <img src="assets/images/e_red_small.png">
    {{/link-to}}
    {{link-to "Configuration" "configuration" class="item"}}
    {{link-to "Tracks" "tracks" class="item"}}
  </div>
  <div class="right menu">
    {{#link-to "help" class="item"}}
      <i class="help circle outline large icon"></i>
    {{/link-to}}
    <div class="ui simple dropdown icon item">
      <i class="desktop icon"></i>
      {{window-menu}}
    </div>
  </div>
</div>

<div class="ui main">
  {{#each flashMessages.queue as |flash|}}
    {{#flash-message flash=flash as |component flash|}}
      {{#if flash.componentName}}
        {{component flash.componentName content=flash.content}}
      {{else}}
        <div class="ui {{flash.type}} floating message">
          <div class="header">
            {{flash.message}}
          </div>
        </div>
      {{/if}}
    {{/flash-message}}
  {{/each}}
  <br>
  {{outlet}}
</div>

<div class="ui bottom fixed menu">
  <div class="right menu">
    <a class="item" href="http://exercism.io/">
      <img src="assets/images/logo.png" class="ui small image">
    </a>
  </div>
</div>
