<h5 class="ui dividing header">
  Available files
  <div class="sub header">note that README.md, test files and nested folders are skipped from this list</div>
</h5>
{{#if problem.files}}
<div class="ui large form">
  <div class="grouped inline fields">
    {{#each problem.files as |file|}}
    <div class="field" data-test-files>
      {{ui-radio name="selectedFile" value=file label=file current=selectedFile}}
    </div>
    {{/each}}
  </div>

  <div class="field">
    <label>Submit comment (optional)</label>
    <input
      type="text"
      value={{comment}}
      oninput={{action (mut comment) value="target.value"}}>
  </div>

  <button
    data-test-submit-btn
    class="ui secondary basic button {{if (not selectedFile) 'disabled'}}"
    {{action "submit"}}>
      Submit
  </button>
  <button
    class="ui secondary basic button {{if (not selectedFile) 'disabled'}}"
    {{action "open"}}>
      Open
  </button>
  <button
    class="ui blue basic icon {{if refreshing 'loading'}} button"
    {{action "refresh"}}>
    <i class="refresh icon"></i>
  </button>
  {{#if errorMessage}}
    <div class="ui negative message">
      <p data-test-error-msg>
        {{errorMessage}}
      </p>
    </div>
  {{/if}}
</div>
{{else}}
  <p data-test-no-files-msg>None</p>
{{/if}}
