<div class="ui fluid vertical menu">
  <div class="header item">Actions</div>
  {{#if apiKeyUnset}}
    {{#link-to "configuration" class="item"}}
      <p>Please configure your API key to enable these actions</p>
    {{/link-to}}
  {{/if}}
    <div class="item">
      <div
         data-test-fetch-btn
        class="ui fluid button {{if apiKeyUnset 'disabled' ''}}">
        Fetch
      </div>
    </div>
    <div class="item">
      <div
         data-test-status-btn
        class="ui fluid button {{if apiKeyUnset 'disabled' ''}}"
        {{action (transition-to 'tracks.track.status' track.id)}}>
        Show status
      </div>
    </div>
    <div class="item">
      {{#power-select
        class="ui dropdown"
        options=track.problems
        selected=problemToSkip
        placeholder="Select a problem"
        onchange=(action (mut problemToSkip)) as |problem|}}
        {{problem}}
      {{/power-select}}
      <div class="item">
        <div
          data-test-status-skip
          class="ui fluid button {{if (or apiKeyUnset (not problemToSkip)) 'disabled' ''}}"
          {{action (transition-to 'tracks.track.problems.problem.skip' problemToSkip)}}>
          Skip
        </div>
      </div>
    </div>
</div>
