{{#if apiKeyUnset}}
  {{#link-to "configuration" class="item"}}
    Please configure your API key to enable these menu
  {{/link-to}}
{{/if}}
<div class="item header">Links</div>
{{link-to 'Submitting' 'tracks.track.local-problems' track.id class="item" disabled=(or apiKeyUnset trackIsNull)}}
<div class="item">
  <b>Actions</b>
  <div class="menu">
    <div class="item">
      <div
        data-test-fetch-btn
        {{action (route-action 'fetch')}}
         class="{{buttonClass}} {{btnColor}}">
        Fetch latest
      </div>
    </div>
    <div class="item">
      {{#if (or apiKeyUnset trackIsNull)}}
        <div class="{{buttonClass}} {{btnColor}}">
          Fetch all
        </div>
      {{else}}
      {{#hold-button action=(route-action "fetchAll") as |hold|}}
        <div class="{{buttonClass}} {{if hold.countdown 'purple' btnColor}}">
          {{#if (not hold.countdown)}}
            Fetch all
            {{#if hold.pulsate}}
              <strong>(hold)</strong>
            {{else}}
              (hold)
            {{/if}}
          {{else}}
            <strong>{{hold.countdown}}</strong>
          {{/if}}
        </div>
      {{/hold-button}}
      {{/if}}
    </div>
    <div class="item">
      <div
        data-test-fetch-btn
        {{action (route-action 'restore')}}
         class="{{buttonClass}} {{btnColor}}">
        Restore
      </div>
    </div>
    <div class="item">
      <div
        data-test-status-btn
        {{action (route-action 'status' track.id)}}
         class="{{buttonClass}} {{btnColor}}">
        Get status
      </div>
    </div>
    <div class="item">
      {{#power-select
        options=track.problems
        selected=problemToSkip
        placeholder="Select a problem to skip"
        onchange=(action (mut problemToSkip)) as |problem|}}
        {{problem}}
      {{/power-select}}
      <div class="item">
        <div
          data-test-status-skip
          class="{{buttonClass}} {{btnColor}} {{if (not problemToSkip) 'disabled' ''}}"
          {{action (transition-to 'tracks.track.problems.problem.skip' problemToSkip)}}>
          Skip
        </div>
      </div>
    </div>
  </div>
</div>
