<div class="ui icon yellow message">
  <i class="file text icon"></i>
  <div class="content">
    <div class="header">Using configuration path {{configFilePath}}</div>
  </div>
</div>

<form class="ui form {{if (v-get this 'isValid') '' 'error'}}">
  <div class="field {{if validations.attrs.dir.isValid '' 'error'}}" data-test-dir-field>
    <label>Exercises directory</label>
    <input
      data-test-dir-input
      type="text"
      value={{dir}}
      placeholder="Exercises directory"
      oninput={{action (mut dir) value="target.value"}}>
    {{#if validations.attrs.dir.message}}
      <div class="ui error message" data-test-dir-errmsg>
        <p>{{validations.attrs.dir.messages}}</p>
      </div>
    {{/if}}
  </div>
  <div class="field {{if validations.attrs.apiKey.isValid '' 'error'}}">
    <label>API key
    {{#if (not apiKey)}}
      (see <a href="http://exercism.io/account/key">http://exercism.io/account/key</a>)
    {{/if}}
    </label>
    <input
      type="text"
      value={{apiKey}}
      placeholder="API key"
      oninput={{action (mut apiKey) value="target.value"}}>
    {{#if validations.attrs.apiKey.message}}
      <div class="ui error message">
        <p>{{validations.attrs.apiKey.messages}}</p>
      </div>
    {{/if}}
  </div>

  <div class="field">
    <button class="ui small basic black button" {{action (toggle "showingAdvanced" this)}}>
      <i class="{{if showingAdvanced 'up' 'down'}} arrow icon"></i>
      Advanced
    </button>
  </div>

  {{#if showingAdvanced}}
  <div class="field {{if validations.attrs.api.isValid '' 'error'}}">
    <label>Exercism API</label>
    <input
      type="text"
      value={{api}}
      placeholder="Exercism API"
      oninput={{action (mut api) value="target.value"}}>
    {{#if validations.attrs.api.message}}
      <div class="ui error message">
        <p>{{validations.attrs.api.messages}}</p>
      </div>
    {{/if}}
  </div>
  <div class="field {{if validations.attrs.xapi.isValid '' 'error'}}">
    <label>Exercises API</label>
    <input
      type="text"
      value={{xapi}}
      placeholder="Exercises API"
      oninput={{action (mut xapi) value="target.value"}}>
    {{#if validations.attrs.xapi.message}}
      <div class="ui error message">
        <p>{{validations.attrs.xapi.messages}}</p>
      </div>
    {{/if}}
  </div>
  {{/if}}
  <div class="ui divider"></div>
  <div class="field">
  <button class="ui primary basic button" {{action "saveConfig"}} data-test-save-btn>Save</button>
  </div>
</form>
