{{#with model as |track|}}
<div class="ui two column centered padded grid">
  <div class="row">
    <div class="twelve wide column">
      <div class="ui items">
        <div class="item">
          <a class="ui tiny image">
            <img src="{{track.imageSrc}}" onerror="this.src='assets/images/e_red_small.png';">
          </a>
          <div class="content">
            <a class="header">{{track.language}} track</a>
            <div class="extra">
              <p>Track details <a href="{{track.languageUrl}}">{{track.languageUrl}}</a></p>
            </div>
            <div class="extra">
              Repository <a href="{{track.repository}}">{{track.repository}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="four wide column">
      {{track-action-menu
        track=track
        problemToSkip=null
        open=(route-action "open")}}
    </div>
  </div>
</div>
{{/with}}
{{outlet}}
