<div class="ui container">

  <div class="ui segment">
    <div class="ui bulleted relaxed list">
      <div class="item">Platform: <strong>{{model.platform}} - {{model.arch}}</strong></div>
      <div class="item">Version: <strong>{{model.currentTag}}</strong></div>
      <div class="item">Latest version: <strong>{{model.latestTag}}</strong></div>
      <div class="item">Home dir: <strong>{{model.homeDir}}</strong></div>
      <div class="item">Exercises dir: <strong>{{model.homeExercisesDir}}</strong></div>
      <div class="item">Config file: <strong>{{model.configFilePath}}</strong></div>
    </div>
  </div>

  <table class="ui celled fixed table">
    <thead>
      <tr>
        <th colspan="3">
        Services status
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each model.servicesStatus as |serviceStatus|}}
        <tr class="{{if (or (eq serviceStatus.status 'OK') (eq serviceStatus.status 'VERIFYING')) 'positive' 'negative'}}">
          <td>{{serviceStatus.name}}</td>
          <td>
            {{#if (not-eq serviceStatus.status 'VERIFYING')}}
            <i class="icon {{if (eq serviceStatus.status 'OK') 'checkmark' 'remove'}}"></i>
            {{/if}}
            {{serviceStatus.status}}
          </td>
          <td>{{serviceStatus.host}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>
{{outlet}}
